<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://leveragejaydemo1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>leveragejaydemo1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>leveragejaydemo1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$leveragejaydemo1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="leverage_jay_demo_1.Models.Vehicle_dmDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:leverageserver1.database.windows.net,1433;Initial Catalog=leveragejaydemo1_db;User ID=dbuser_jay_1@leverageserver1;Password=Aqwe_$_321678" Name="Data Source=tcp:leverageserver1.database.windows.net,1433;Initial Catalog=leveragejaydemo1_db;User Id=dbuser_jay_1@leverageserver1;Password=Aqwe_$_321678;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="leverage_jay_demo_1.Models.Vehicle_dmDBContext, leverage_jay_demo_1" MigrationConfiguration="leverage_jay_demo_1.Migrations.Configuration, leverage_jay_demo_1" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)leverage_jay_demo_1.Models.Vehicle_dmDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:leverageserver1.database.windows.net,1433;Initial Catalog=leveragejaydemo1_db;User Id=dbuser_jay_1@leverageserver1;Password=Aqwe_$_321678;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="leverage_jay_demo_1.Models.Vehicle_dmDBContext" />
  </ItemGroup>
</Project>